<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>animee</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="header">
        <div class="header-text">Для связи: </div>
        <a href="https://vk.com/defkisosite" class="header-link"> VK</a>
    </header>

    <section class="landing-section landing-main">
        <h1><a href="http://127.0.0.1:8000/nya"><span class="pizda">3</span></a> Причины любить аниме:</h1>
        <ul>
            <li>
                <h2>
                    <span class="brand-text">Сюжет</span>
                </h2>

                <h3>
                    Ни одна киностудия не может похвастаться таким разнообразием сюжетов, какие находятся в аниме.<br>
                    Путешествия во времени, смертельные вирусы – всё меркнет перед фантазией японских сценаристов
                </h3>
            </li>
            <br>
            <li>
                <h2>
                    <span class="brand-text">Графика</span>
                </h2>

                <h3>
                    В далекие 80-90 годы технология создания анимации в Японии была ещё не развита, но уже тогда        <br>
                    была уникальна. Большинство упрекают аниме в неправильном изображении пропорций человеческого тела,          <br>
                    неправдоподобности графики, но именно такое отклонение от привычного делает картинку запоминающейся.
                </h3>
            </li>
            <br>
            <li>
                <h2>
                    <span class="brand-text">Япония-это круто</span>
                </h2>

                <h3>
                    Япония — прекрасная страна, которая с трепетом хранит свои древние традиции. Аниме этому только     <br>
                    способствует, потому что каждый новый эпизод позволяет зрителю, особенно иностранцу, окунуться с     <br>
                    головой в атмосферу простой, а иногда фантастической жизни архипелага.
                </h3>
            </li>
            <br>
            <span class="end-text">Ня каваи</span>
        </ul>
    </section>
</body>
</html>